@code {
    [Parameter]
    public bool IsActive { get; set; } = false;
}

<div id="navbarBasicExample" class="navbar-menu @(IsActive ? "is-active" : "")">
    <div class="navbar-start">

        <NavLink class="navbar-item" href="">
            <span>Home</span>
        </NavLink>
        
        <NavLink class="navbar-item" href="browse">
            <span>Browse</span>
        </NavLink>

    </div>
</div>