@using RecordShop.Frontend.Client.Services
@using RecordShop.Frontend.Client.Layout.Footer
@using RecordShop.Frontend.Client.Layout.Navbar
@inherits LayoutComponentBase
@inject IProfileService ProfileService

@code {
    private Preferences _preferences = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            ProfileService.OnChange += ProfileServiceOnChange;
            _preferences = await ProfileService.GetPreferencesAsync();
            StateHasChanged();
        }
    }

    private void ProfileServiceOnChange(Preferences newPreferences)
    {
        _preferences = newPreferences;
        StateHasChanged();
    }

    public void Dispose()
    {
        ProfileService.OnChange -= ProfileServiceOnChange;
    }
}

<div class="@(_preferences.DarkMode ? "dark" : "") flex h-screen flex-col justify-between dark:bg-slate-700 dark:text-slate-200">
    <Navbar/>
    <main class="mb-auto">
        <div class="mx-auto max-w-4xl px-3 py-7 xl:max-w-5xl">
            @Body
        </div>
    </main>
    <Footer />
</div>




<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


