@using RecordShop.Frontend.Client.Layout.Footer
@using RecordShop.Frontend.Client.Layout.Navbar
@inherits LayoutComponentBase

<Navbar/>

<main class="section">
    @Body
</main>

<Footer/>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
