@rendermode InteractiveAuto

@code {
    private bool mobileToggle = false;

    private void ToggleMobile()
    {
        mobileToggle = !mobileToggle;
    }
}

<header class="bg-white p-5 shadow-2xl dark:bg-slate-700 dark:text-slate-200">
    <div class="mx-auto max-w-4xl xl:max-w-5xl">
        <div class="flex justify-between gap-6">
            <NavbarBrand/>
            <NavbarToggle OnClick="() => ToggleMobile()"/>    
            <NavList/>
        </div>
        @if (mobileToggle)
        {
            <NavList IsMobile="true" />
        }
    </div>
</header>

