<NavLink href="">
    <div class="inline-block rounded-2xl p-3 transition-colors hover:bg-gray-100 active:bg-gray-100 dark:active:bg-slate-600 dark:hover:bg-slate-600">
        <h1 class="text-2xl font-light">Awesome Record Shop</h1>
    </div>
</NavLink>
