<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Awesome Record Shop</strong>
        </p>
        <p>
            Copyright &copy; Syntrice 2025. All rights reserved.
        </p>
    </div>
</footer>