<footer class="bg-black/5 p-5 text-lg dark:bg-black/10 dark:text-slate-200">
    <div class="mx-auto max-w-4xl px-3 py-7 xl:max-w-5xl">
        <p>
            <strong>Syntrice Records</strong>
        </p>
        <p>
            Copyright &copy; Syntrice 2025. All rights reserved.
        </p>
    </div>
</footer>
